<h2 class="text-center mb-3">Breeders</h2>

<div class="row">

    <div class="col-sm">
        <h3>Search for a Breeder!</h3>
        <div class="card p-3">
            <input class="form-control" placeholder="Breeder Name" type="text" id="name" />
            <br />
            <input class="form-control" placeholder="City" type="text" id="city" />
            <br />
            <input class="form-control" placeholder="Group" type="text" id="group" />
            <br />
            <button type="button" class="btn btn-dark" id="search-breeder">Search for Breeder</button>
        </div>
    </div>

    <div class="col-sm">
        <h3>Don't See a Breeder? Click Here to Add Them!</h3>
        <button type="button" class="btn btn-dark" id="add-breeder">Add Breeder</button>
    </div>

    <div id="breeder-results"></div>

</div>
<div class="col-sm" id="breeders"></div>


<script src="/public/js/index.js">
</script>