<h2 class="text-center mb-3">Events</h2>

<div class="row">

    <div class="col-sm">
        <h3>Search for Events!</h3>
        <div class="card p-3">
            <input class="form-control" placeholder="Event Name" type="text" id="name" />
            <br />
            <input class="form-control" placeholder="City" type="text" id="city" />
            <br />
            <input class="form-control" placeholder="Group" type="text" id="group" />
            <br />
            <button type="button" class="btn btn-dark" id="search-event">Search for Events</button>

        </div>
    </div>

    <div class="col-sm">
        <h3>Don't See an Event? Click Here to Add Them!</h3>
        <a href="/add-event">
            <button type="button" class="btn btn-dark" id="add-event">Add Event</button>
        </a>
    </div>

    <div id="event-results"></div>

</div>

{{!-- Users should be able to attend or join events/competitions when an event is found --}}
{{!-- <div class="col-sm" id="join-events">
    <h3>Join an Event!</h3>
    <div class=""></div>
</div> --}}


</div>

<script></script>