<div class="container">
  <div class="row">
    <div class="col-sm text-center mb-3">
      <h3>All of Your Needs for Pup Breeders, Events, and Adoptions</h3>
    </div>
  </div>
  <div class="row justify-content-center text-center my-5">
    <div class="col-sm-3 mx-4">
      <div class="card dog-search" style="width: 12rem">
        <img src="/assets/img/mike-burke-gxyfJQg7Lno-unsplash.jpg" class="card-img-top" alt="">
        <div class="card-body">
          <a href="/dogsearch">
            <h4>Looking for a Dog?</h4>
          </a>
          <a href="/dogsearch" class="btn btn-dark">Search for Dogs</a>
        </div>
      </div>
    </div>
    <div class="col-sm-3 mx-1">
      <div class="card breeder-search" style="width: 12rem">
        <img src="/assets/img/valerie-elash-UxdeBphE62U-unsplash.jpg" class="card-img-top" alt="">
        <div class="card-body">
          <a href="/breeders">
            <h4>Looking for a Breeder?</h4>
          </a>
          <a href="/breeders" class="btn btn-dark">Search for Breeder</a>
        </div>
      </div>
    </div>
    <div class="col-sm-3 mx-4">
      <div class="card competition-search " style="width: 12rem">
        <img src="/assets/img/-thor-houston-dog-winner-TN-img.jpg" height="126" class="card-img-top" alt="black puppy">
        <div class="card-body">
          <a href="">
            <h4>Looking for an Event?</h4>
          </a>
          <a href="/events" class="btn btn-dark">Search for Events</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center my-5">
    <div class="col-sm-5 mx-4">
      <div class="card breeder-table p-1" style="width: 20rem">
        <h3>Breeders Near Me</h3>
        <p class="text-muted">Search for Breeders Near Me</p>
        <div class="card-body">
          <p class="card-text">Dog Search.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-5 mx-4">
      <div class="card competition-table p-1" style="width: 20rem">
        <h3>Competitions Near Me</h3>
        <p class="text-muted">Search for Competitions Near Me</p>
        <div class="card-body">
          <p class="card-text">Dog Search.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="card mb-2">
      <div class="card-body">
        <p> Pup Rescue and Adoptions.</p>
        <a href="#" class="btn btn-dark mx-5">Search Here</a>
      </div>
    </div>
  </div>
</div>