html {
  box-sizing: border-box;
  background: url("") center no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.list-group-item {
  line-height: 2.5;
}

svg {
  padding: 20px;
  width: 200px;
  margin-bottom: 50px;
}
