html {
  box-sizing: border-box;
  background: url("") center no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: wheat;
}

.list-group-item {
  line-height: 2.5;
}

svg {
  padding: 20px;
  width: 200px;
  margin-bottom: 50px;
}

#breed_image {
  background: #fff;
  margin: 0 auto;
  width: 460px;
}

/* .social-media {
  margin: 40px;
} */

path {
  height: 100px;
  width: 100px;
}



.jumbotron {
  background-color: white;
  border-bottom: 1px wheat solid;
  margin-bottom: 0;
  background-image: url("../assets/img/unleashed.jpg");
  width: 1200px;
}

.navlink {
  font-weight: bold;
  color: #555;
}

.navlink:hover {
  color: wheat;
}

h1 {
  width: 100%;
  font-size: 70px;
  font-family: 'Righteous', cursive;
}

body {
  border-left: 1px black solid;
  border-right: 1px black solid;
  padding: 5px;  
}

th {
  font-weight: bold;
}

.dogsearch {
  height: 100vh;
}

nav {
  border-bottom: 1px solid wheat;
}

#breed_data_table {
  margin: auto;
}